:root{
    --azulClaro: rgb(31, 137, 223);
    --azulMedio: rgb(17, 0, 255);
    --azulEscuro: rgb(1, 25, 90);
    --verdeFolha: rgb(5, 119, 75);
    --pretoEscuro: rgb(0, 0, 0);
    --brancoClaro: rgb(255,255,255);
	--cinzaClaro: #555555;
}

*{
    margin: 0;
    padding: 0;
    font-family: Constantia, Arial, Helvetica, sans-serif;
    
    
}

/* Não permite a rolagem */
.noscroll {
	overflow: hidden
}

body {
	color: var(--cinzaClaro);
	overflow-x: hidden;
}

img {
	height: auto;
}

.hpanel {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    color: var(--brancoClaro);
}

.left {
	left: -4%;
	width: 59%;
}

.left .background {
    background-color: var(--azulClaro);
	width: 67%;
	height: 75%;
	top: 15vh;
	left: 39vh;
	border-radius: 40% 0 0 5%;
}

.pleft{
	text-align: left;	
	font-size: 23px;
	
}
 
strong{
	font-size: 40px;
}

.logo{
	width: 60%;
	margin: 20vh auto;
	margin-left: 15vh;
	margin-top: -8vh;
	padding-left: 2rem;
}

.content-area-left {
	text-align: left;
	margin: 10vh auto;
	width: 460px;
	padding-left: 7rem;
}

.right {
	right: -4%;
	width: 50%;
}
.right .background {
    background-color: var(--azulEscuro);
	width: 67%;
	height: 75%;
	top: 15vh;
	border-radius: 0% 5% 40% 0%;

	
}
.background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}

.content-area-right {
	text-align: left;
	margin: 10vh auto;
	width: 460px;
	padding-left: 7rem;
	margin-top: 12vh;
	font-size: 25px;
	margin-right: 40vh;
	line-height: 40px;
}

.login{
	width: 30%;
	height: 8%;
	font-size: 30px;
	background: var(--azulClaro);
	margin-left: 25vh ;
	margin-top: -5vh;
	font-weight: bold;
	

}

.pages{
	font-size: 17px;
}